### Java ###
*.class
*.log
*.war
*.ear

# Maven build
/target/
!.mvn/wrapper/maven-wrapper.jar

# Maven local repository (nếu bạn không dùng repo global)
.mvn/repository/

# Gradle build (nếu lỡ dùng song song)
.gradle/
build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

# IntelliJ Cache
out/

### VS Code ###
.vscode/

### Spring Tool Suite ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log
logs/
*.tmp

### Docker ###
*.pid
docker-compose.override.yml
.env
.env.*
.dockerignore

### Jenkins ###
/jenkins-home/
/jenkins.log

### Misc ###
/*.swp
*.bak
*.tmp
